.camera-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-content {
  --background: transparent;
}

.camera-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    // border: green solid 2px;

    .op-cv-cn {
        width: 100%;
        height: 100%;
        // border: #0036d6 solid 1px;
        opacity: 0;
    }

    .dr-cn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // border: rgb(200, 255, 0) solid 1px;
    }
}

.button {
    display: flex;
    justify-content: center;
}