<ion-content [fullscreen]="true">
  <img #sourceImage src="assets/image.png" style="display:none">

  <div class="header">
    <div class="header-content">
      <ion-icon name="logo-twitch" size="large"></ion-icon>
      <ion-spinner name="dots" size="large"></ion-spinner>
      <ion-text>{{ player }}</ion-text>
    </div>
  </div>

  <div class="camera-container ion-padding">
    <canvas #opencvCanvas class="op-cv-cn"></canvas>
    <canvas #drawCanvas class="dr-cn"></canvas>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-button shape="round" color="tertiary" (click)="leave()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      LEAVE
    </ion-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button shape="round" color="light" (click)="viewCalcul = !viewCalcul">
      <ion-icon *ngIf="viewCalcul" name="eye-outline"></ion-icon>
      <ion-icon *ngIf="!viewCalcul" name="eye-off-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
