<ion-content [fullscreen]="true">
  <!-- <img #image src="assets/image.png" alt="ArUco" (load)="detect()" /> -->
  <div class="camera-container ion-padding">
    <canvas #opencvCanvas class="op-cv-cn"></canvas>
    <!-- <canvas #drawCanvas class="dr-cn"></canvas> -->
  </div>
   <!-- <img
    #cameraImage
    class="camera-image"
    alt="Camera"
  > -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-button shape="round" color="tertiary" (click)="leave()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Home
    </ion-button>
  </ion-fab>

</ion-content>
