.camera-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: green solid 2px;

    img {
        width: 100%;
    }

    video {
        width: 100%;
    }

    .op-cv-cn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: rgb(0, 54, 214) solid 1px;
        opacity: 0;
    }

    .dr-cn {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100%;
        border: rgb(200, 255, 0) solid 1px;
    }
}
