.absolute {
    position: absolute;
    top: 0;
}

.relative {
    position: relative;
}

h1 {
    color: #ffa600ea;
    text-align: center;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}